@use '../colors';

infobar {
  color: rgba(255,255,255,0.8);

  &.info {
    background: colors.$accent-4;
  }
  &.warning {
    background: colors.$accent-3;
  }
  &.error {
    background: colors.$accent-1;
  }
  &.question {
    background: colors.$accent-6;
  }

  // TODO: if the button optimizations don't get more readable here, we have to style an exception
}