@use '../colors';

textview {
  transition: background 100ms ease-in-out;

  background: transparentize(white, 0.95);
  padding: 8px;

  &:focus {
    background: transparentize(white, 0.9);
  }

  &:disabled {
    opacity: 0.3;
  }

  selection {
    background: colors.$primary-accent;
    color: lighten(colors.$foreground-color, 50%);
  }
}